---
titles: Menchi
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">
    <head>
        {%- include head.html -%}
        <link rel="stylesheet" href="{{ "/assets/css/home.css" | prepend: site.baseurl | replace:'//','/' }}">
        <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="home" itemscope itemtype="http://schema.org/Person">
            <div class="main">
                <div class="content">
                    <div class="my-photo">
                        <img alt="my photo" src="https://s3-us-west-1.amazonaws.com/menchi.xyz/avatar.jpg" />
                    </div>
                    <h1 itemprop="name" class="title-text">{{ site.author.name }}</h1>
                    {% include follow-me.html %}
                    <p><a class="social-link blog" title="Visit my Notebook." itemprop="sameAs" href="/notebook" target="_self">Notebook</a></p>
                    <p><a class="social-link blog" title="Visit my Menu." itemprop="sameAs" href="/cooking" target="_self">Kitchen</a></p>
                    <p><a class="social-link blog" title="Visit my Bar." itemprop="sameAs" href="/bar" target="_self">Cocktail Lounge</a></p>
                </div>
            </div>
        </div>
        {% include analytics.html %}
    </body>
</html>
